*{
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
html{
    scrollbar-color: #0aab75;
}
body{
    width: 100dvw;
    height: 100dvh;
    font-size: 16px;
    background-image: url(download.jpg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    user-select: none;
}
section{
    width: 100dvw;
    height: 100dvh;
}
.bg{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self:center;
    position: relative;
    top:70px;
    width: clamp(350px, 30vw, 45vw);
    height:clamp(70vh, 80dvh, 90dvh);
    background:url(Ultra\ premium\ background.jpg);
    background-position: -10px -100px;
    background-size: cover;
    border: 10px solid black;
    border-radius: 20px;
}
#logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-image: url(logo.jpg);
    background-position: center;
    background-size: contain;
    position: fixed;
    top:8rem;
    background-color: #5284b0;
}
.name{
    position: fixed;
    color: aliceblue;
    height: 8%;
    top: 18rem;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px grey;
}
#form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25rem;
    left: 3.5rem;
    width: 300px;
    height:fit-content;
    label{
        font-size: 20px;
    }
    input{
        height: 30px;
        background:radial-gradient(circle at center, white, grey);
    }
    label{
        color: whitesmoke;
    }
    input::placeholder{
        color: black;
    }
    button{
        position: relative;
        align-self: center;
        top: 65px;
        width: 100px;
        height: 50px;
    }
}
#reset{
    font-size: 15px;
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    left: -15rem;
    top: 10.5rem;
    z-index: 10;
}
#sign{
    font-size: 20px;
    position: fixed;
    display: flex;
    color: whitesmoke;
    top: 39rem;
    z-index: 10;
}